/* Limpando formatos iniciais
*/
*{
    margin: 0;
    padding: 0;
}

/* Links em geral
*/
a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    font-weight: bold;
}

#menu_cabecalho a:hover{
    color: black;
    background: white;
    text-decoration: underline;
}


/* Formatação geral
*/
body{
    border: 1px solid green;
    background: #09090B;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    border: 1px solid red; 
    font-size: 3em;
    color: white;
}

h2{
    font-size: 2em;
    color: white;
}

h3{
    font-size: 1.5em;
    color: #c4c4c4;
}

/* Parte Superior do código
*/

#cabecalho{
    padding: 25px;
    text-align: center;
}

#logo_cabecalho{
    padding: 5px;
}

#menu_cabecalho{
    margin-top: 5px;
    padding: 10px;
}

/* Fim parte superior
*/

/*Area 1° Apresentação
*/

#area_principal_sobremim{
    border: 1px solid red;
    margin: 50px auto;
    padding: 15px;
}

#lado_esquerdo{
    border: 1px solid red;  
    width: 400px;
    margin-top: 60px;
    padding: 10px;
    float: left;
}

.botoes{
    border: 1px solid red;
}

.btn_curriculo{
    background: #00DF5E;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}

.btn_contato{
    background: #09090B;
    color: #f9f9f9;
    margin: 0 35px;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    border-color: #f9f9f9;    
}


#lado_direito{
    border: 1px solid red;
    text-align: center;
    width: 400px;
    margin-top: 60px;
    float: right;
}

.limpar{
    clear: both;
    margin-top: 400px;
}

.titulo_sobre_mim{
    border: 1px solid red;
    text-align: center;
    margin-top: 100px;
}

/* Área 2° Apresentação
*/

#area_sobre_mim{
    border: 1px solid green;
}

.titulo_sobre_mim{
    border: 1px solid red;
}

.texto_sobre_mim{
    border: 1px solid white;
    color: #c4c4c4;
    width: 600px;
    margin: 0 auto;
}