/* Limpando formatos iniciais
*/
*{
    margin: 0;
    padding: 0;
}

/* Links em geral
*/
a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    font-weight: bold;
}

#menu_cabecalho a:hover{
    color: black;
    background: white;
    text-decoration: underline;
}


/* Formatação geral
*/
body{
    /*border: 1px solid green;*/
    background: #09090B;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    /*border: 1px solid red;*/ 
    font-size: 2em;
    color: white;
    text-align: center;
}

#lado_esquerdo h1{
    text-align: left;
}

h2{
    font-size: 2em;
    color: white;
    text-align: center;
}

h3{
    font-size: 1.5em;
    color: #c4c4c4;
    margin: 15px 0;
}

#fundo_servicos h3{
    font-size: 1.2em;
    margin: 30px 0px;
}

h4{
    margin-top: 20px;
}

#fundo_projeto h4{
    color: white;
    margin: 1px;
}

h5{
    color:#c4c4c4
}

#meios_contato h5{
    cursor: pointer;
}

footer{
    background: #c4c4c4;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.separar{
    margin-top: 200px;
}

.img_home{
    width: 60px;
    margin: 250px 1120px;
    position: fixed;
}

/* Parte Superior do código
*/

#cabecalho{
    padding: 25px;
    text-align: center;
}

#logo_cabecalho{
    padding: 5px;
}

#menu_cabecalho{
    margin-top: 5px;
    padding: 10px;
}

/* Fim parte superior
*/

/*Area 1° Apresentação
*/

#area_principal_sobremim{
    /*border: 1px solid red;*/
    margin: 50px auto;
    padding: 15px;
}

#lado_esquerdo{
    border: 1px solid red; 
    width: 600px;
    margin-top: 60px;
    padding: 10px;
    float: left;
}

.botoes{
    /*border: 1px solid red;*/
}

.btn_curriculo{
    background: #00DF5E;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.btn_contato{
    background: #09090B;
    color: #f9f9f9;
    margin: 0 35px;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    border-color: #f9f9f9;    
    cursor: pointer;
}

#lado_direito{
    border: 1px solid red;    
    margin: 60px;
    float: right;
}

.limpar{
    clear: both;
}


/* Área 2° Apresentação
*/
.titulo_sobre_mim{
    /*border: 1px solid red;*/
    margin-top: 50px;
}

#area_sobre_mim{
    /*border: 1px solid green;*/
}

.texto_sobre_mim{
    /*border: 1px solid white;*/
    color: #c4c4c4;
    width: 600px;
    margin: 20px auto;
}

/* Área 3° Apresentação
*/

#area_contato{
    /*border: 1px solid red;*/
}

#meios_contato{
    /*border: 1px solid gold;*/
    margin: 40px auto;
    width: 1000px;
    color: white;
}

.fundo_contato{
    /*border: 1px solid red;*/
    background-image: url('imagens/fundo.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -40px;
    width: 200px;
    float: left;
    padding: 0 20px;
}

.contato{
    /*border: 1px solid white;*/
    text-align: center;
    margin-top: 60px;
}

/* Área 4° Apresentação
*/

#area_projetos{
    /*border: 1px solid orange;*/
    margin-top: 0px;
}

#fundo_projeto{
    /*border: 1px solid cyan;*/
    width: 1000px;
    margin: 0 auto;
    height: 200px;
}

.projetos{
    border-radius: 4px;
    width: 230px;
    height: 150px;
    background: #6a6a6a4a;
    margin: 10px;
    float: left;
}

.imagem_projeto{
    margin: 10px;
    cursor: pointer;
    padding: 10px 0;
}

/* Área 5° Apresentação
*/

#area_servicos{
    /*border: 1px solid red;*/
}

#fundo_servicos{
    /*border: 1px solid orange;*/
    width: 1000px;
    margin: 0 auto;
    height: 250px;
}

.servicos{
    border-radius: 4px;
    width: 300px;
    height: 150px;
    background: #6a6a6a4a;
    margin: 5px 95px;
    float: left;
}

.formatar_servico{
    /*border: 1px solid red;*/
    margin: 20px;
}

/*Área 6° Apresentação
*/

#fundo_skills{
    /*border: 1px solid red;*/
    width: 1000px;
    margin: 0 auto;
    height: 200px;
}

.skills{
    text-align: center;
    border-radius: 4px;
    width: 200px;
    height: 150px;
    background: #6a6a6a4a;
    margin: 5px 64px;
    float: left;
}

.formatar_skills{
    /*border: 1px solid red;*/
    margin: 20px;
}