@media(max-width:1200px)
{
    
    h1{
        font-size: 2.3em;
    }

    h3{
        font-size: 1.5em;
    }

    .btn_curriculo, .btn_contato{
        height: 50px;
        width: 250px;
        font-size: 1.4em;
    }

    .texto_sobre_mim{
        font-size: 1.4em;
    }

    
}
